$bg-color: #f3f2f2;
$details-color: #DBD7D7;
$reset-button-color: #F2F3F3;
$submit-button-color: #F2F3F3;

:root {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.8em;
}

///////////////////////////
//initial page styling
///////////////////////////

#initial-page-wrapper {
  display: initial;  
  min-width: 90dvw;
  min-height: 70dvh;

  h1 {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  #red-span {
    animation: redColorEffect 2s infinite ease;
    color: rgb(100, 0, 0);
    animation-direction: alternate;
  }
  #green-span {
    margin-left: -1%;
    margin-right: -1%;
    color: rgb(0, 100, 0);  
    animation: greenColorEffect 2s infinite ease;
    animation-direction: alternate;
    animation-delay: 1s;
  }
  #blue-span {
    color: rgb(0, 0, 100); 
    animation: blueColorEffect 2s infinite ease;
    animation-direction: alternate;
    animation-delay: 2s;
  }
}

@keyframes redColorEffect {
  0% {
    color: rgb(100, 0, 0);  
  }
  100% {
    color: rgb(220, 0, 0);  
  }
}
@keyframes greenColorEffect {
  0% {
    color: rgb(0, 100, 0);  
  }
  100% {
    color: rgb(0, 220, 0);  
  }
}
@keyframes blueColorEffect {
  0% {
    color: rgb(0, 0, 100);  
  }
  100% {
    color: rgb(0, 0, 220);  
  }
}

@mixin input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 35dvw;
  padding-top: 0.5rem;
  border: solid 0.01rem black;
  border-radius: 5%;
  margin-bottom: 0.5rem;
  background-color: $bg-color;
}

@mixin buttons-common-styling {
  margin-bottom: 0.5rem;
  border-radius: 15%;

  padding: 1.5% 3.2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.60rem;

  &:hover {
    cursor: pointer;
  }
}

#image-input-section {
  @include input-section;
  
}

#rgb-input-section {
  @include input-section;
}

#image-input {
  background-color: $details-color;
}

#rgb-input-wrapper {
  .color-input {
    max-width: 5dvw;
  }

  #red-value {
    background-color: rgb(255, 0, 0);
  }
  #green-value {
    background-color: rgb(0, 255, 0);
  }
  #blue-value {
    background-color: rgb(0, 0, 255);
  }
}


#reset {
  @include buttons-common-styling;
  background-color: $reset-button-color;

  &:hover {
    background-color: lighten($reset-button-color, 15%);
  }
}

#submit {
  @include buttons-common-styling;
  background-color: $submit-button-color;
  margin-bottom: 0;

  &:hover {
    background-color: lighten($submit-button-color, 15%);
  }
}

.input-subtitle {
  font-size: 0.60rem;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0.1rem;
}

body {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 0;
}

///////////////////////////
//output page styling
///////////////////////////

#images-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-top: 0;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
  }

  p {
    margin: 0;
    margin-bottom: 0.75rem;
    font-style: italic;
    font-size: 0.7rem;
  } 

  #images-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 70dvh;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
  }
}


#link-to-initial-page {
  @include buttons-common-styling;
  color: black;
  padding: 0.5% 1%;
  background-color: $details-color;
  border: solid black 0.05rem;

  &:hover{
    background-color: lighten($details-color, 25%)
  }     
}

img {
  width: 10rem;
  height: 13rem;
  margin-bottom: 1rem;
  border-radius: 50%;
}

#original-img-div {
  margin-left: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $details-color;

  font-size: 0.8rem;
  border: solid black 0.01rem;
  padding: 1rem 0;

}

label {
  font-size: 0,8rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 0.50rem;
  border-top: solid 0.1rem black;
  width: 100%;
  font-size: 0.8rem;
  
  p {
    margin-bottom: 0;
  }
}

input {
  margin: 0.5rem 0;
  font-size: 0.60rem;

  &:hover {
    cursor: pointer;
  }
}


//////// media query for mobile screens

@media (max-width: 500px) {

  #initial-page-wrapper {
    h1 {
      font-size: 0.85rem;
    }
    h2 {
      font-size: 0.5rem;
    }
    form {
      .input-subtitle {
        font-size: 0.5rem;
      }
      label {
        font-size: 0.5rem;
        margin-bottom: 0.2rem;
      }
    input {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 0.5rem;
    }
    button {
      font-size: 0.5rem;
    }
    }
  }

  #image-input-section {
    p {
      text-align: center;
    }
  }
  
  #rgb-input-section {
    p {
      text-align: center;
    }
  }

  #rgb-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .color-input {
      max-width: 20dvw;
    }
  }

  #images-section {
    h2 {
      font-size: 0.8rem;
    }
    p {
      font-size: 0.6rem;
      text-align: center;
    }
    a {
      font-size: 0.6rem;
    }

    #images-wrapper {
      display: flex;
      flex-direction: column;
      max-height: none;
    }
  }

  #original-img-div {
    margin-left: 0;
  }

  footer {
    margin-top: 2.5rem;
    font-size: 0.6rem;
  }
}