$bg-color: #c99797;
$details-color: #B87575;
$reset-button-color: #B097C9;
$submit-button-color: #B0C997;

:root {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
}

#initial-page-wrapper {
  display: initial;
}

@keyframes imagesSectionEntry {
  0%{
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#images-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: imagesSectionEntry 1s linear;

  h2 {
    margin-top: 0;
  }

  p {
    margin: 0;
    margin-bottom: 0.75rem;
    font-style: italic;
    font-size: 0.65;
  }
  
}

#images-wrapper {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;

    h3 {
      font-size: 1rem;
      margin-bottom: 0;
    }
  }
}



@mixin buttons-common-styling {
  margin-bottom: 0.5rem;
  border-radius: 15%;

  padding: 1.5% 3.2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7rem;

  &:hover {
    cursor: pointer;
  }
}

#link-to-initial-page {
  @include buttons-common-styling;
  color: black;
  padding: 0.5% 1%;
  background-color: $details-color;
  border: solid black 0.05rem;

  &:hover{
    background-color: lighten($details-color, 25%)
  }     
}

#reset {
  @include buttons-common-styling;
  background-color: $reset-button-color;

  &:hover {
    background-color: lighten($reset-button-color, 15%);
  }
}

#submit {
  @include buttons-common-styling;
  background-color: $submit-button-color;
  
  &:hover {
    background-color: lighten($submit-button-color, 15%);
  }
}

#input-subtitle {
  font-size: 0.65rem;
  font-style: italic;
}

body {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#sponsor-heading {
  animation: 9s sponsor-motion infinite linear;
  font-size: 1.1rem;
}

@keyframes sponsor-motion {
  0% {
    transform: translateX(-30%);
    color: lighten(black, 40%);
  }
  17% {
    color: lighten(black, 10%);
  }
  33% {
    color: lighten(black, 40%);
  }
  50% {
    color: lighten(black, 10%);
  }
  67% {
    color: lighten(black, 40%);
  }
  100% {
    transform: translateX(110%);
    color: lighten(black, 10%);
  }
}

img {
  width: 10rem;
  height: 13rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $details-color;

  font-size: 1rem;
  border: solid black 0.01rem;
  padding: 1rem 0;

}

label {
  font-size: 0,8rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 5rem;
  border-top: solid 0.1rem black;
}

input {
  margin: 1rem 0;
  font-size: 0.7rem;
  
  &:valid {
    background-color: greenyellow;
    border: 2px solid greenyellow;
  }
  &:invalid {
    background-color: red;
    border: 2px dashed red;
  }
  &:hover {
    cursor: pointer;
  }
}


//////// media query for mobile screens

@media (max-width: 500px) {

  #initial-page-wrapper {
    h1 {
      font-size: 0.75rem;
    }
    h2 {
      font-size: 0.5rem;
    }
    form {
      label {
        font-size: 0.5rem;
        margin-bottom: 0.2rem;
      }
    input {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 0.5rem;
    }
    button {
      font-size: 0.5rem;
    }
    }
  }

  #images-section {
    h2 {
      font-size: 0.8rem;
    }
    p {
      font-size: 0.6rem;
    }
    a {
      font-size: 0.45rem;
    }
  }

  #images-wrapper {
    display: flex;
    flex-direction: column;
  }

  footer {
    margin-top: 2.5rem;
    font-size: 0.6rem;
  }

}