<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Tomaz Mendes Lanza Ferreira"/>
    <meta name="description" content="An app that applies filters on images based on input RGB values."/>
    <meta name="keywords" content="filter, styling, image, picture, photograph, jpeg, jpg, png, gif, RGB"/>

    <link rel="stylesheet" type="text/css" href="../styles.css">

    <title>Image RGB Filter</title>
  
  </head>
  <body>