<section id="initial-page-wrapper">

  <h1>Random image styling</h1>
    
    <div id="sponsoring-wrapper">
      <h2 id="sponsor-heading">Sponsoring: Nature - drink water!</h2>
    </div>

    <br>
    
    <form id="form" name="image-input-form" method="post">
      <label for="image-input">
        Input the image you want stylized - JPEG, PNG, and GIF formats accepted
      </label>
      <br>
      <br>
      <input 
          type="file" 
          id="image-input"
          enctype="multipart/form-data"
          placeholder="Your image goes here."
          required
          accept="image/*"
      >
      <br>
      <br>
      <button type="reset" id="reset">Reset input</button>
      <br>
      <br>
      <button type="submit" id="submit">Submit</button>  
    </form>
    <script> 
        
      // Submitting the request
      const form = document.getElementById("form")
      const imageInput = document.getElementById("image-input")
      const initialPageWrapper = document.getElementById("initial-page-wrapper")
      const submitButton = document.getElementById("submit")
      const resetButton = document.getElementById("reset")

      form.addEventListener('submit', (event) => {
        event.preventDefault()

        // hiding the submit button for better UX
        fadeOutElement(submitButton, true)
        fadeOutElement(resetButton, true)
        fadeOutElement(imageInput, false)

        // proceeding with the request after transition ends
        submitButton.addEventListener('transitionend', () => {
          const imageUpload = imageInput.files[0]
          const contentType = imageUpload.type
          const footer = document.getElementsByTagName("footer")

          // fetch("http://localhost:8080/image", {
          fetch("https://image-modifier-app.uc.r.appspot.com/image", {
            method: "POST",
            headers: {
              'Content-Type': contentType,
            }, 
            body: imageUpload,
          })
          .then(res => res.text())
          .then(html => {
            document.documentElement.innerHTML = html
            observeImagesSection()
          })
        }, {once: true})
      }) 
      
      // function for showing images-section after file submitting
      function observeImagesSection() {
        const imagesSection = document.getElementById("images-section");
        if (imagesSection) {
          imagesSection.scrollIntoView({ behavior: 'smooth' });
        }
      }

      function fadeOutElement(element, rotation) {
        element.style.transition = "all 1s ease-in-out"
        element.style.opacity = "0"

        if(rotation) {
          element.style.transform = "rotate(360deg)"  
        }
      }

    </script>
  </section>