:root {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
}

#initial-page-wrapper {
  display: initial;
}

@keyframes imagesSectionEntry {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
#images-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: imagesSectionEntry 1s linear;
}
#images-section h2 {
  margin-top: 0;
}
#images-section p {
  margin: 0;
  margin-bottom: 0.75rem;
  font-style: italic;
  font-size: 0.65;
}

#images-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#images-wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
#images-wrapper div h3 {
  font-size: 1rem;
  margin-bottom: 0;
}

#link-to-initial-page {
  margin-bottom: 0.5rem;
  border-radius: 15%;
  padding: 1.5% 3.2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7rem;
  color: black;
  padding: 0.5% 1%;
  background-color: #B87575;
  border: solid black 0.05rem;
}
#link-to-initial-page:hover {
  cursor: pointer;
}
#link-to-initial-page:hover {
  background-color: #e3c9c9;
}

#reset {
  margin-bottom: 0.5rem;
  border-radius: 15%;
  padding: 1.5% 3.2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7rem;
  background-color: #B097C9;
}
#reset:hover {
  cursor: pointer;
}
#reset:hover {
  background-color: #d6c9e3;
}

#submit {
  margin-bottom: 0.5rem;
  border-radius: 15%;
  padding: 1.5% 3.2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7rem;
  background-color: #B0C997;
}
#submit:hover {
  cursor: pointer;
}
#submit:hover {
  background-color: #d6e3c9;
}

#input-subtitle {
  font-size: 0.65rem;
  font-style: italic;
}

body {
  background-color: #c99797;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#sponsor-heading {
  animation: 9s sponsor-motion infinite linear;
  font-size: 1.1rem;
}

@keyframes sponsor-motion {
  0% {
    transform: translateX(-30%);
    color: #666666;
  }
  17% {
    color: #1a1a1a;
  }
  33% {
    color: #666666;
  }
  50% {
    color: #1a1a1a;
  }
  67% {
    color: #666666;
  }
  100% {
    transform: translateX(110%);
    color: #1a1a1a;
  }
}
img {
  width: 10rem;
  height: 13rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #B87575;
  font-size: 1rem;
  border: solid black 0.01rem;
  padding: 1rem 0;
}

label {
  font-size: 0, 8rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 5rem;
  border-top: solid 0.1rem black;
}

input {
  margin: 1rem 0;
  font-size: 0.7rem;
}
input:valid {
  background-color: greenyellow;
  border: 2px solid greenyellow;
}
input:invalid {
  background-color: red;
  border: 2px dashed red;
}
input:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  #initial-page-wrapper h1 {
    font-size: 0.75rem;
  }
  #initial-page-wrapper h2 {
    font-size: 0.5rem;
  }
  #initial-page-wrapper form label {
    font-size: 0.5rem;
    margin-bottom: 0.2rem;
  }
  #initial-page-wrapper form input {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.5rem;
  }
  #initial-page-wrapper form button {
    font-size: 0.5rem;
  }
  #images-section h2 {
    font-size: 0.8rem;
  }
  #images-section p {
    font-size: 0.6rem;
  }
  #images-section a {
    font-size: 0.45rem;
  }
  #images-wrapper {
    display: flex;
    flex-direction: column;
  }
  footer {
    margin-top: 2.5rem;
    font-size: 0.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
